node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE
*.swp
*.swo
*~
